<div id="quiz_container">
  <div class="header-wrapper" data-v-show="startQuiz">
    <span class="header-span" id="count_span">
      <span>남은 시간 : </span>
      <span id="count_value"></span>
    </span>
    <span class="header-span" id="score_span">
      <span>점수 : </span>
      <span id="score_value"></span>
    </span>
  </div>
  <div class="main-wrapper">
    <h1 class="main-text">Typing Game</h1>
  </div>
  <div class="input-wrapper" data-v-show="startQuiz">
    <input id="word_input" />
  </div>
  <div class="btn-wrapper">
    <button id="start_btn">시작</button>
  </div>
</div>